<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="../../../pcloud/web/views/css/corps.css"/>
  <title>administration </title>
    </head>
    <body>
    <header>
      <span><a href="admin/file"><img src="../../../pcloud/web/views/images/fichier.jpeg" alt="gerer les fichiers" /></a></span>
      <span><a href="admin/groupFile"><img src="../../../pcloud/web/views/images/vue.jpg" alt="gérer les vues" /></a></span>
      <span><a href="admin/groupUser"><img src="../../../pcloud/web/views/images/users.jpg" alt="gerer les utilisateurs"/></a></span>
      <span><a href="admin/o/* route vers la partie gestion de fichiers*/

$app->get('admin/operations', function(Application $app,Request $req) {

       

       return "operations";     
    });
perations"><img src="../../../pcloud/web/views/images/operation.jpg" alt="voir les opérations"/></a></span>
      <span><a href="admin/stats"><img src="../../../pcloud/web/views/images/statistique.jpg" alt="voir les statistiques"/></a></span>
      <span><a href="admin/dropUsers"><img src="../../../pcloud/web/views/images/supprimer.png" alt="voir les utilisateurs réfusés"/></a></span>
      <span><input type="text" name="group_user" value="recherche"/></span>
      <span><a href=""><img src="../../../pcloud/web/views/images/recherche.jpg" /></a></span> 
    </header>


     <div  class ="content" >
     <div  class ="partieGauch" >
         <section class="partieDemandeEncours">demande en cours   
            <ul>
              {% for demande  in demandes %}
              <li> <ul> <li> <a href="">{{demande.id_user}}</li><li>{{demande.date_subscription_user}} </a></li></ul></li>
              {% endfor %}
           </ul>
     </section >

         <section class="partieFichiersRecents" > fichiers récents
             <ul>
              {% for fichier  in files %}
               <li> <ul> <li>{{fichier.id_file}}</li><li>{{fichier.date_creat_file}}</li></ul></li>
               {% endfor%}
            </ul>



         </section >   
     </div>

      <div>
      <div  class ="partieMilieu">
    
         <div class=" partieGroupFichier">
                <div class="addGroupFichier">
                 <form class="createView" method="post" action="../index.php/admin/addView">
                         <fieldset>
                            <legend>nouveau groupe de fichiers</legend>
                              <label for="group_fichier">groupe </label>
                               <input type="text" name ="group_fichier" id="group_fichier"><br><br>
                               <textarea name="description" rows=4 cols=40> description</textarea><br><br>
                               <input type="submit" value="ajouter" name="create_file_group">
                         </fieldset>
                  </form> 
                </div>
                <div class=" addGroupFichier"> 
                    <form class="addGroup" method="post" action="../index.php/admin/addGroup">
                         <fieldset>
                            <legend >nouveau group d'utilisateurs</legend>
                               <label for="group_user">nom </label> <input type="text" name="group_user"><br><br>
                               <textarea name="description" rows=4 cols=40> description</textarea><br><br>
                               <input type="submit" value="ajouter" name="add_user_group">
                         </fieldset>
                  </form> 
                </div>
                <div class=" addGroupFichier"> 
                  <form class="grantViewToGroup" method="post" action="../index.php/admin/grantViewToGroup">
                         <fieldset style=" height: 120px;">
                            <legend>attribuer des droits à un groupe</legend>

                            <label for="group_user">groupe</label> 
                            <select name="group_user" size="1">
                            {% for group  in groups %}
                              <OPTION>{{group.name_user_group}}
                            {% endfor %} 
                            </select><br><br>

                            <label for="group_fichier">vue</label> 
                            <select name="group_file" size="1">
                            {% for view  in views %}
                              <OPTION>{{view.name_file_group}}
                            {% endfor %}
                               
                            </select><br><br>
                            <input type="submit" value="attribuer" name="grant_view_to_group">
                         </fieldset>
                  </form> 
                </div> 
         </div>
         <div class=" partieGroupUser"> 
                <div class=" partie5GroupUser">    
                  <form class="addUser" method="post" action="../index.php/signup">
                         <fieldset>
                            <legend >nouvel utilisateur</legend>
                               <label for="group_user">nom </label> <input type="text" name="group_user"><br><br>
                               <label for="group_user">prenom </label> <input type="text" name="group_user"><br><br>
                               <label for="group_user">pseudo</label> <input type="text" name="group_user"><br><br>
                               <label for="group_user">passe 1</label> <input type="text" name="group_user"><br><br>
                               <label for="group_user">passe 2</label> <input type="text" name="group_user"><br><br>
                               <label for="group_user">email </label> <input type="text" name="group_user"><br><br>
                                 <label for="sexe">sexe </label> 
                                 <input type="radio" name="sexe" value="1">homme<input type="radio" name="sexe" value="0">femme<br>
                               <input type="submit" value="ajouter" name="add_user">
                            
                         </fieldset>
                  </form> 

                </div>
             
                <div class="addGroupUser">
                   <form class="grantViewToUser" method="post" action="../index.php/admin/grantViewToUser">
                         <fieldset style=" height: 120px;">
                            <legend>attribuer des droits  à un utilisateur</legend>

                            <label for="group_user">groupe</label> <select name="group_user" size="1">
                            {% for group  in groups %}
                              <OPTION>{{group.name_user_group}}
                            {% endfor %}                               
                            </select><br><br>
                            <input type="submit" value="attribuer" name="add_user">
                         </fieldset>
                  </form> 
                </div>
       </div>
       
     </div>


      <div class ="partieDroit">
         <section class="partieStat"> statistiques 
         <ul>
         <li style="margin-bottom:3px; margin-top:3px;">connexion en cours : {nombreUser}</li>
         <li style="margin-bottom:3px; margin-top:3px;">utilisateurs: {users}</li>
         <li style="margin-bottom:3px; margin-top:3px;">fichiers: {files}</li>
         <li style="margin-bottom:3px; margin-top:3px; ">groupe de fichiers : {groupsFichiers}</li>
         <li style="margin-bottom:3px; margin-top:3px;">groupe d'utilisateurs: {groupsUsers}</li>
        </ul>
 </section > 
         <section class="partieUtilisateursConnnectes"> liste des utilisateurs connectés
        <ul>
           {% for connecte  in connectes %}
           <li><a href="">{{connecte.pseudo_user}}</a></li>
            {% endfor %}
         </ul>
         </section >
         <section class="partieOperationRecentes" > opérations récentes
            <ul>
               {% for operation  in operations %}
                 <li><a href="">{{operation.name_operation}}</a></li>
               {% endfor %}
            </ul>
     </section > 
     </div>
     </div>
    <footer>
         
     
       
        
    </footer>
    </body>
</html>
