body{
background-color: gray;
margin-left: 25px;
}

legend{
	font-weight: bold;
	font-size: 14px;
	color: gray;

}
label{
	color:gray;
}

button, input, select, textarea {
  border-radius: 5px;
}

div{
    background-color: white;
	float:left;
	text-align: center;
	font-size: 12px;
	border-radius: 5px;
}
header{
	height: 50px;
	position: relative;
	right: -250px;
	left: 275px;
	width: 900px;
	border-radius: 5px;
	padding: 2px 2px 2px 2px;
	font-size: 14px;
}

header a:link 
{ 
 text-decoration:none; 
} 

header a:hover{
	text-decoration:none;
	color:gray;

	}

header span{
	margin-right: 25px;
	}

header span img {
	width: 50px;
	height: 30px;
	box-shadow: 5px 5px 5px 5px black;	
}

ul{
	list-style:none;
    margin-left:0;
    padding-left:0;
    margin-bottom: 2px;
 
}



.partieGauch{
	width: 275px;
	height: 700px;
	margin-right:5px;
	margin-left: 5px;
	margin-bottom: 10px;
	margin-top:  10px;
	padding: 5px 5px 5px 5px ;
	text-align: center;
	box-shadow :10px 10px 5px ; 
	}
.partieGauch a{
text-decoration: none;
}	

.partieMilieu{
	width: 700px;
	height: 700px;
	position: relative;
	margin-right:5px;
	margin-left: 5px;
	margin-bottom: 10px;
	margin-top:  10px;
	padding: 5px 5px 5px 5px ;
    box-shadow :10px 10px 5px ; 

}

.partieGroupFichier{
	float: left;
	padding: 2px 2px 2px 2px;
	margin-right: 2px;
	width: 340px;
	height: 680px;
}

.partie5GroupFichier{
	padding: 2px 2px 2px 2px;
	width: 340px;
	height: 250px;
}

.addGroupFichier{
	padding: 2px 2px 2px 2px;
	width: 340px;
	height: 200px;
}





.partieGroupUser{
	float:left;
	padding: 2px 2px 2px 2px;
	width: 340px;
	height: 680px;
}

.partie5GroupUser{
	padding: 2px 2px 2px 2px;
	width: 340px;
	height: 320px;
}

.addGroupUser{
	padding: 2px 2px 2px 2px;
	width: 340px;
	height: 370px;
}

.addGroupUser fieldset
{

  width: 315px; 
  height: 180px;
}

.partieDroit{
	width: 275px;
	height: 700px;
	position: relative;
	margin-right:5px;
	margin-left: 5px;
	margin-bottom: 10px;
	margin-top:  10px;
	padding: 5px 5px 5px 5px ;
	box-shadow :10px 10px 5px ; 
}


.partieDemandeEncours{
	width: 250px;
	height:400px;
	border: 2px ;
    margin-bottom: 10px;
    overflow:scroll;

}

.partieDemandeEncours ul{
	list-style:none;
    margin-left:0;
    padding-left:0;
    text-align: left;
    margin-bottom: 2px;
}



.partieDemandeEncours ul li ul li{
	margin-bottom:1px;
	margin-right:1px;  
	display: inline;
}



.partieFichiersRecents{
	border: 2px ;
    border-radius: 25px;
	width: 250px;
	height:270px;
	overflow:scroll;
}

.partieFichiersRecents li ul li{
	margin-bottom:1px;
	margin-right:1px;  
	display: inline;
}



.partieUtilisateursConnnectes{
	border: 2px ;
    border-radius: 25px;
	width: 250px;
	height:300px;
	padding: 5px 5px 5px 5px ;
	overflow:scroll;
}
.partieUtilisateursConnnectes li { 

	display : list-item; 
}



.partieStat{
	border: 2px ;
    border-radius: 25px;
	width: 250px;
	height:150px;
	padding: 5px 5px 5px 5px ;
}


.partieOperationRecentes{
	border: 2px ;
    border-radius: 25px;
	width: 250px;
	height:150px;
	padding: 5px 5px 5px 5px ;
	overflow:scroll;
}