<div id="popupShowUser" class="popup_block">
    
<fieldset>
  <legend>editer</legend>
      <label>   pr&eacutenom  </label><BR><input type="text"/><BR>
      <label>   nom  </label><BR><input type="text"/><BR>
      <label>   pseudo  </label><BR><input type="text"/><BR>
      <label>   sexe  </label><BR><input type="text"/><BR>
      <label>   email  </label><BR><input type="text"/><BR>
</fieldset>
 <a href="/pcloud/index.php/admin/denied/">  accepter </a> <a href="/pcloud/index.php/admin/accept/">  refuser </a>

      
</div>