<!DOCTYPE html>
<html>
	<head>
		<title> test dialog</title>
        <meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="frame.css">
               
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
       
        <link href="sumoselect.css" rel="stylesheet" />

               	
	</head>
	<body onload="refreshAll();">
        
        <button id="upload"> upload</button>
        <div id="feed"> </div>
        <div id="feed1">                
            <header>                
                <a href="/pcloud/index.php/admin" class="stuts">Back to home on <span>Admin Page</span></a>
            </header>

            <div class="container">
                <div class="contr"><h2>You can select a file and click Upload button</h2></div> 

                <div class="upload_form_cont">
                    <form id="upload_form" enctype="multipart/form-data" method="post" action="/pcloud/index.php/admin/file/upload">
                        <div>
                            <div id="bloc_file_groups">
                                <div id="label_file_groups"><label> Select File's Groups:</label> </div>
                                <div id="div_file_groups">
                                    <select multiple="multiple" class="SlectBox" id="group_select" name="file_groups[]" >
                                        
                                    </select>
                                </div>                               
                            </div>
                            <label>Insert Tokens:</label><textarea name="file_tokens"> </textarea>
                            <label>Description:</label><textarea name="file_description"> </textarea>                        
                            <div><label for="image_file">Select a file</label></div>
                            <div><input type="file" name="image_file" id="image_file" onchange="fileSelected();" /></div>   
                                                            
                        </div>
                        
                        <div><input type="button" value="Upload" onclick="startUploading()" /></div>                        

                        <div id="fileinfo">
                            <div id="filename"></div>
                            <div id="filesize"></div>
                            <div id="filetype"></div>
                            <div id="filedim"></div>
                        </div>

                        <div id="error">You should select valid image files only!</div>
                        <div id="error2">An error occurred while uploading the file</div>
                        <div id="abort">The upload has been canceled by the user or the browser dropped the connection</div>
                        <div id="warnsize">Your file is very big. We can't accept it. Please select more small file</div> 

                        <div id="progress_info">
                            <div id="progress"></div>
                            <div id="progress_percent">&nbsp;</div>
                            <div class="clear_both"></div>

                            <div>
                                <div id="speed">&nbsp;</div>
                                <div id="remaining">&nbsp;</div>
                                <div id="b_transfered">&nbsp;</div>
                                <div class="clear_both"></div>
                            </div>

                            <div id="upload_response"></div>
                        </div>
                    </form> 

                    <img id="preview" />  

                </div>
            </div>            
        </div>

        <!--    <script type="text/javascript" src="frame.js"></script> -->

        <script type="text/javascript" src="frame.js"></script> 
        <script type="text/javascript" src="frame1.js"></script>
        <script src="jquery.sumoselect.min.js"></script>  
	</body>
</html>