<div id="groupUserPart">
	<h1>gestion des groupes d'utilisateurs</h1>
<div class="groupUser4">
   <ul>
    {%for group in groups %}
      <li>
      <a class="OneGroup" title="{{group.description_user_group}}"  href="/pcloud/index.php/admin/oneGroupUser?id_user_group={{group.id_user_group}}">
        {{group.name_user_group}}  </a> <BR>
      <a style="background-image:url(re);width:20px;height:20px;margin-right:10px;" href="">  
        <img style="width:20px;height:20px;"src="/pcloud/views/images/supprimer.jpg" alt="gerer les fichiers" /></a> 
      <a style="background-image:url(re);width:20px;height:20px;margin-right:10px;" href="">  
        <img style="width:20px;height:20px;"src="/pcloud/views/images/modifier.png" alt="gerer les fichiers" /></a> 
      </li>

    {%endfor%}
    
    </ul>

 </div>
</div>

<button class="nouveau">
</button>     
 <script src="/pcloud/views/js/user_group.js"></script>