<div id="userPart">
   <h1> gestion des utilisateurs</h1>
      <a class="lettre" href="/pcloud/index.php/admin/userToSearch?lettre=a">A</a> <a class="lettre" href="/pcloud/index.php/admin/userToSearch?lettre=b">B</a>
   <a class="lettre" href="/pcloud/index.php/admin/userToSearch?lettre=c">C</a> <a class="lettre" href="/pcloud/index.php/admin/userToSearch?lettre=d">D</a> 
   <a class="lettre" href="/pcloud/index.php/admin/userToSearch?lettre=e">E</a> <a class="lettre" href="/pcloud/index.php/admin/userToSearch?lettre=f">F</a>
   <a class="lettre" href="/pcloud/index.php/admin/userToSearch?lettre=g">G</a> <a class="lettre" href="/pcloud/index.php/admin/userToSearch?lettre=h">H</a>
   <a class="lettre" href="/pcloud/index.php/admin/userToSearch?lettre=i">I</a> <a class="lettre" href="/pcloud/index.php/admin/userToSearch?lettre=j">J</a>
   <a class="lettre" href="/pcloud/index.php/admin/userToSearch?lettre=k">K</a> <a class="lettre" href="/pcloud/index.php/admin/userToSearch?lettre=l">L</a>
   <a class="lettre" href="/pcloud/index.php/admin/userToSearch?lettre=m">M</a> <a class="lettre" href="/pcloud/index.php/admin/userToSearch?lettre=n">N</a>
   <a class="lettre" href="/pcloud/index.php/admin/userToSearch?lettre=o">O</a> <a class="lettre" href="/pcloud/index.php/admin/userToSearch?lettre=p">P</a> 
   <a class="lettre" href="/plcoud/index.php/admin/userToSearch?lettre=q">Q</a> <a class="lettre" href="/pcloud/index.php/admin/userToSearch?lettre=r">R</a> 
   <a class="lettre" href="/pcloud/index.php/admin/userToSearch?lettre=s">S</a> <a class="lettre" href="/pcloud/index.php/admin/userToSearch?lettre=t">T</a> 
   <a class="lettre" href="/pcloud/index.php/admin/userToSearch?lettre=u">U</a> <a class="lettre" href="/pcloud/index.php/admin/userToSearch?lettre=v">V</a> 
   <a class="lettre" href="/plcoud/index.php/admin/userToSearch?lettre=w">W</a> <a class="lettre" href="/pcloud/index.php/admin/userToSearch?lettre=x">X</a>
   <a class="lettre" href="/pcloud/index.php/admin/userToSearch?lettre=y">Y</a> <a class="lettre" href="/pcloud/index.php/admin/userToSearch?lettre=z">Z</a>
            
              
<ul> 
    {% for user  in users %}
              <li>   
                <div class="user">{{user.name_user}}</div>  
                  <div class="actionUser">
                    <a href="admin/readOneUserInfo?pseudo_user={{user.pseudo_user}}" rel="popupEditUser" class="poplight">
                      <img src="/pcloud/views/images/afficher.png"/>
                    </a>
                
                    <a id="deleteFile" class ="supprimer" href="">
                       <img src="/pcloud/views/images/supprimer.jpg"/>
                    </a>
                  </div>
                    
              </li>
              {% endfor %}
      </ul>
</div>
<button>
  nouveau
</button> 

<!--POPUP START--> 
      

<div id="popupEditUser" class="popup_block">
<div id="userInfo" >
<fieldset>
  <legend>utilisateur</legend>
      <label id="dateDemande"></label><BR> <BR>
      <label id="nomDemandeurShow"></label><BR> <BR>
      <label id="prenomDemandeurShow"></label><BR><BR>
      <label id="pseudoDemandeurShow"></label><BR><BR>
      <label id="emailDemandeurShow"></label><BR><BR>
      <label id="sexDemandeurShow"></label><BR><BR>
</fieldset>
<div id="userAddRight">
  <form method="" action="">
    
    <div class="rights"> 
      <select name="groups" size="1">
                            
            <OPTION></OPTION>
                               
      </select>
    </div>

    <button>ajouter</button></form></div>
</div>
<div id="userEditRight">
<FORM method="post" action=""> 
 <fieldset>
  <legend>groupes</legend>
<div id="userGroups"></div>
</fieldset> 
<button>retirer</button>


</FORM> 
</div>
</div>


<!--END POPUP-->


    <script src="/pcloud/views/js/confirmation.js"></script>
    <script src="/pcloud/views/js/popup.js"></script>
  

