<script src="/pcloud/views/js/file.js"></script>
<div id="userPart">
   <h1> gestion des utilisateurs</h1>
   <a href="">A</a> <a href="">B</a> <a href="">C</a> <a href="">D</a> <a href="">E</a> <a href="">F</a> <a href="">G</a>
    <a href="">H</a> <a href="">I</a> <a href="">J</a> <a href="">K</a> <a href="">L</a> <a href="">M</a> <a href="">N</a>
     <a href="">O</a> <a href="">P</a> <a href="">Q</a> <a href="">R</a> <a href="">S</a> <a href="">T</a> <a href="">U</a>
      <a href="">V</a> <a href="">W</a> <a href="">X</a> <a href="">Y</a> <a href="">Z</a>
     <ul>
              {% for user  in users %}
              

              <li>   
                <div class="user">{{user.name_user}}</div>  
                  <div class="actionUser">
                    <a href="popupEditUser?" rel="popupEditUser" class="poplight">
                      <img src="/pcloud/views/images/afficher.png"/>
                    </a>
                    <a  class = "modifier" href="">
                      <img src="/pcloud/views/images/modifier.png"/>
                    </a>
                    <a id="deleteFile" class ="supprimer" href=""> <img src="/pcloud/views/images/supprimer.jpg"/></a>
                  </div>
                    
              </li>
              {% endfor %}
      </ul>
</div>
<button>
  nouveau
</button> 

<!--POPUP START-->
<div id="popupShowUser" class="popup_block">
  

    <FORM>
<fieldset>
  <legend>editer</legend>
      <label>   pr&eacutenom  </label><BR><input type="text"/><BR>
      <label>   nom  </label><BR><input type="text"/><BR>
      <label>   pseudo  </label><BR><input type="text"/><BR>
      <label>   sexe  </label><BR><input type="text"/><BR>
      <label>   email  </label><BR><input type="text"/><BR>
</fieldset>
 <button>  valider </button>
</FORM> 
      
</div>

<div id="popupEditUser" class="popup_block">
<div style="display:block">
<div class="editUserDiv" >
<fieldset>
  <legend>utilisateur</legend>
      <label>   pr&eacutenom  </label> alassane <BR><BR>
      <label>   nom  </label> ndiaye <BR><BR>
      <label>   pseudo  </label> hamman <BR><BR>
      <label>   sexe  </label> m<BR><BR>
      <label>   email  </label>alassndiaye1@gmail.com<BR><BR> 
</fieldset>
<div class="addRightDiv"> 
<form method="" action=""><select><option >sasaz<option >zazaa<option >zazaa</select><button>ajouter</button></form>
</div> 
</div>
</div>
<div class="editUserRightDiv">
<FORM method="post" action=""> 
   <fieldset>
  <legend>groupes</legend>
  etudiant <INPUT type="checkbox" name="groupToUser" value=""> <BR>  
</fieldset> 
     <button>retirer</button>
</FORM>      
</div>

</div>

<!--END POPUP-->


    <script src="../../../pcloud/web/views/js/confirmation.js"></script>
    <script src="../../../pcloud/web/views/js/popup.js"></script>
  

