<!DOCTYPE html>
<html>
    <head>
        <title>Administration form</title>
        <link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
        <meta charset="utf-8" />
        <meta name="viewport"  content=" width=320 ,user-scalable=no, minimum-scale=1.0 maximum-scale=1.0"  />
        <link rel="stylesheet" href="./admin.css" type="text/css"/>
    </head>

    <body>
    	<div id="bloc_page">
    		<header>
               <nav role="navigation">
                    <ul>
                        <li><a href="#" title="TBD" >1</a></li>
                        <li><a href="#" title="TBD" >2</a></li>                        
                        <li><a href="#">Autres</a></li>
                    </ul>
                </nav>
            </header>

    		<h1> {{nom}} 'S ADMIN PAGE</h1>

    		<footer>
                <p>Copyright xxx - Tous droits réservés
                    <a href="#">contacter !</a>
                </p>
            </footer>
    	</div>
    </body>
</html>