<!DOCTYPE html>
<html>
    <head>
        <title>Administration form</title>
        <link rel='stylesheet' href='/silex/web/pcloud/views/admin.css' type='text/css'/> 
        <link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
        <meta charset="utf-8" />
        <meta name="viewport"  content=" width=320 ,user-scalable=no, minimum-scale=1.0 maximum-scale=1.0"  />

    </head>

    <body>
    	<div id="bloc_page">

    		<!-- definition du header -->
    		<header>
			    <nav role="navigation">
			        <ul>
			            <li><a href="#" title="TBD" >1</a></li>
			            <li><a href="#" title="TBD" >2</a></li>                        
			            <li><a href="#">Autres</a></li>
			        </ul>
			    </nav>
			</header>
			<!-- fin header -->

    		<h1> {{nom}} 'S ADMIN PAGE</h1>

			<!-- definition du footer -->
    		<footer>
			    <p>Copyright xxx - Tous droits réservés
			    	<a href="#">contacter !</a>
			    </p>
			</footer>
			<!-- fin footer -->

    	</div>
    </body>
</html>