<!DOCTYPE html>
<html>
    <head>
        <title>user's page</title>
        <link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
        <meta charset="utf-8" />
        <meta name="viewport"  content=" width=320 ,user-scalable=no, minimum-scale=1.0 maximum-scale=1.0"  />
            <link rel="stylesheet" type="text/css" href="/pcloud/views/css/corps.css"/>
    </head>
    
    <body>
    
      

              <h1>{{welcome}} </h1>
              <p> <strong>{{msg}}</strong></p>
              <p> on this day, {{ "now"|date("d/m/Y") }} ,{{word}}</p>
            <footer>
                <p></p>
            </footer>
    </body>
    
</html>