<!DOCTYPE html>
<html>
    <head>
        <title>Personal Cloud | Y. Cloud</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport"  content=" width=320 ,user-scalable=no, minimum-scale=1.0 maximum-scale=1.0"  />        
        <link rel="stylesheet" type="text/css" href="/pcloud/views/login/login.css" />	
    </head>
    <body>
		<div class="wrapper">
			<h1>Personal Cloud | Y. Cloud</h1>
			<h2><span>Reset your password Now... </span> to enjoy the Life</h2>
			<div class="content">
				<div id="form_wrapper" class="form_wrapper">
					<form class="register active" method="POST" action="/pcloud/index.php/user/resetPassword">
						<h3>Reset Password</h3>
						<p id="msg_reset">                            
		                    <span class="bleutext"><em> {{ confirmReset}}</em> </span>                           
		                </p>
						<div class="column">
							
						</div>

						<div class="column">
							<div>
								<label>Pseudo:</label>
								<input type="text" readonly name="pseudo" id="pseudo" value="{{pseudo}}" />
								<span class="error">This is an error</span>
							</div>
							
							<div>
								<label>Password:</label>
								<input type="password" placeholder="********" name="pass1" id="pass1" required/>
								<span class="error">This is an error</span>
							</div>
							<div>
								<label>Confirm Password:</label>
								<input type="password" placeholder="********" name="pass2" id="pass2" required/>
								<span class="error">This is an error</span>
							</div>
						</div>

						<div class="bottom">
							<div class="remember">
								<input type="checkbox" />
								<span>Send me updates</span>
							</div>
							<input type="submit" value="Reset Password" id="submit_register"/>							
							<div class="clear"></div>
						</div>
					</form>				

				</div>

				<div class="clear"></div>
			</div>
			<a class="back" href="/pcloud/">Go to Homepage!</a>
		</div>	
		
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script type="text/javascript" src= "/pcloud/controlers/login.js"> </script>
    </body>
</html>