.groupFilePart{
	width: 700px;
	height: 500px;
}

 .groupFilePart li{
 display:inline-block;
 margin: 5px 5px 5px 5px;
}

.groupFilePart li a{
height: 60px;
width: 60px;
display:inline-block;
text-decoration: none;
background-image: url("../images/dossier.png");
background-size: 60px 60px;
background-repeat: none;
color : black;

}
